{% extends "shop/base.html" %}
{% load static %}
{% block content %}
    <div class="content">
        <h1>Корзина</h1>
        <table class="cart">
            <thead>
            <tr>
                <th>Продукт</th>
                <th>Название</th>
                <th>Количество</th>
                <th>Кусочков</th>
                <th>Цена</th>
                <th>Удалить</th>
            </tr>
            </thead>
            <tbody>
            {% for item in cart %}
                {% with product=item.product %}
                    <tr>
                        <td>
                            <img src="{{ product.image_full.url}}" alt="" width=50px height=50x>
                        </td>
                        <td>{{ product.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.number }}</td>
                        <td class="num">{{ item.total_price }}</td>
                        <td><a href="{% url "cart:cart_remove" product.id%}">Удалить</a></td>
                    </tr>
                {% endwith %}
            {% endfor %}

            </tbody>
        </table>
        <h3>Всего {{ cart.get_total_price }}</h3>
        <p class="text-right">

            <a href="{% url "shop:product_list" %}" class="button text-dark" style="text-decoration: none">Продолжить</a>
            <a href="{% url "orders:order_create" %}" class="button text-dark" style="text-decoration: none"> Оформить заказ</a>
        </p>
    </div>
{% endblock %}